<div class="navbar navbar-expand-lg navbar-light bg-secondary">
  <a routerLink='/' class='navbar-brand'>Home</a>
  <div class="navbar-collapse collapse">
    <ul class='navbar-nav'>
      <li class="nav-item">
        <a routerLink='song-list' class='nav-link'>SongList</a>
      </li>

      <li class="nav-item">
        <a routerLink='song-detail' class='nav-link'>SongDetails</a>
      </li>

      <li class="nav-item">
        <a routerLink='add-song' class='nav-link'>AddNew</a>
      </li>

    </ul>
  </div>
</div>
<router-outlet></router-outlet>
